.checkoutaccordion {
    display: flex;
    justify-content: center;
}

.checkoutaccordionheader {
    min-width: 50vw;
}
.checkoutmapcontainer{
    height: 30vh;
    position: relative;
    background-color: white;
}

