.cartitem {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    min-height: 15vw;
    column-gap: 0.5vw;
}

.cartimagecontainer {
    position: relative;
}

.cartimage {
    width:100%;
    height: 100%;
    object-fit: contain; 
    position: absolute;
}


.increasedecreasecartitem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.buttondisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 10px;
}

.alternatecartitemlayout {
    display: grid;
    grid-template-columns: 5fr 2fr;
    min-height: 15vh;
    column-gap: 0.5vw;
}

.maincartitemcontainer {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    row-gap: 3vw;
}
