.profilecontent {
    display: flex;
    justify-content: center;
}


.profilecontentdisplaycolor {
    background-color: white;
}

.relativeimage {
    position: relative;
}

.smalltext {
    font-size: small;
}

.cursorpointer {
    cursor: pointer;
}

.profileseperator1 {
    flex-grow: 1;
}

.profileseperator2 {
    flex-grow: 4;
    min-height: 45vh;
}

.ultrasmalltext {
    font-size: xx-small;
}

.modalwithoutcolor {
    background-color: transparent;
    border: none;
}

.imageandname {
    display: grid;
    grid-template-columns: 1fr 3fr;
}