.profilecontent {
    display: flex;
    justify-content: center;
}


.profilecontentdisplaycolor {
    background-color: white;
}

.relativeimage {
    position: relative;
}

.smalltext {
    font-size: small;
}

.cursorpointer {
    cursor: pointer;
}