html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    max-width: 100vw;
}

.mainwrapper {
    margin-bottom: -8vh;
    min-height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    align-items: center;
}

.logo {
    flex-grow: 1;
}

.searchbar {
    flex-grow: 6;
}

.nav-item {
    flex-grow: 1;
}

.navspace {
    height: 10px;
}