html, body {
    height: 100%;
    width: 100vw;
    margin: 0;
    /* margin-bottom: -8vh; */
}

.mainwrapper {
    margin-bottom: -8vh;
    min-height: 100vh;
    width: 100vw;
}

.push {
    position: relative;
    height: 8vh;
    z-index: -100;
    background-color: white;
}

.nav {
    min-height: 35px;
    position: relative;
    padding-left: 10px;
}

.navcol{
    padding-bottom: 5px;
}

.cartimagenav {
    position: relative;
}

.cartimage {
    min-width: 50%;
    min-height: 70%;
    max-width: 50%;
    max-height: 70%;
    position: absolute;
    object-fit: contain;
    left: 0;
    bottom: 0;
}

.cartitems {
    position: absolute;
    top: 15%;
    left: 20%;
    z-index: 2;
}

.searchbar {
    padding: 0;
    position: relative;
}

.searchinput {
    width: 100%;
    height: 90%;
    padding: 1%;
    padding-right: 5.5%;
    outline: none;
    border: none;
}

@media (max-width:263px) {
    .cartimagenav {
        left: 85%;
    }
}

@media (max-width:167px) {
    .cartimagenav {
        left: auto;
    }
}

.searchicon {
    position: absolute;
    top: 15%;
    right: 3%;
}

