.accountinformation {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.editinglink {
    font-size: x-small;
    position: absolute;
    right: 10px;
    top: 0;
}

.editinglink:hover {
    cursor: pointer;
}

