.profilegrid {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr 0.5fr;
}

.profilebackground {
    background-image: url('https://res.cloudinary.com/ash006/image/upload/v1632487615/marvin-meyer-SYTO3xs06fU-unsplash_fyzka4.jpg');
    min-height: 30vw;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
}
.profileimagecontainer {
    display: grid;
    justify-content: center;
}
.profileimage {
    margin-top: 5%;
    max-width: 100%;
    max-height: 90%;
    object-fit: contain;
    border: 10px solid wheat;
}

.skillsalert {
    min-width: 18vw;
    display: grid;
    align-items: center;
    justify-content: center;
}

.skillsbackground {
    background-image: url('https://res.cloudinary.com/ash006/image/upload/v1632490436/pexels-felix-mittermeier-956981_fqervr.jpg');
    min-height: 15vw;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 2;
}

.myskills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5vw;
    justify-content: space-around;
}

@media(max-width:700px) {
    .profilebackground {
        display: block;
    }
}

@media(max-width:550px) {
    .myskills {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:270px) {
    .myskills {
        display: block;
    }
    .profilegrid {
        grid-template-rows: 1fr 1fr;
    }
}