.profilebackground {
    background-image: url('https://res.cloudinary.com/ash006/image/upload/v1632487615/marvin-meyer-SYTO3xs06fU-unsplash_fyzka4.jpg');
    height: 60vh;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
}
.profileimagecontainer {
    display: grid;
    justify-content: center;
}
.profileimage {
    max-width: 100%;
    max-height: 50vh;
    object-fit: contain;
    border: 10px solid wheat;
}

.skillsbackground {
    background-image: url('https://res.cloudinary.com/ash006/image/upload/v1632490436/pexels-felix-mittermeier-956981_fqervr.jpg');
    min-height: 30vh;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
}

.myskills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5vw;
    justify-content: space-around;
    max-width: 100vw;
}