.orderdetailsdivider {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-left: 3vw;
}

.orderdetailitems {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
}

.ordereditemgrid {
    display: grid;
    grid-template-columns: 3fr 12fr 3fr;
    align-items: center;
}

.orderdetailitemimage {
    max-width: 10vw;
    max-height: 10vw;
    object-fit: contain;
}

@media (max-width:450px) {
    .orderdetailsdivider {
        margin-left: 0;
    }
    .orderdetailsdivider, .orderdetailitems {
        display: block;
    }
}